html {
  scroll-behavior: smooth;
}
.move {
  animation: move 2s linear infinite;
}

.box {
  animation: upDown 1s linear infinite;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 830px) {
  .active-link {
    display: none;
  }
}
